{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css_file %}
{% static 'css/signup.css' %}
{% endblock css_file %}
{% block contents %}
<header>
    <div class="container-fluid">
        <div class="row">
            <h2>Sign Up</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</header>
{% endblock contents %}
