@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header .container-fluid #club-intro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: justify;
  font-weight: bold;
  color: #006937;
}

body {
  background-color: #f1faee;
}

body .navi-menu nav {
  height: 200px;
  background-image: url("../images/Asset 1.png");
  background-size: auto 200px;
  background-repeat: no-repeat;
}

body .navi-menu nav.navbar {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

body .navi-menu nav .navbar-collapse {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  margin-top: 10px;
  margin-left: 10px;
}

body .navi-menu nav .navbar-collapse ul li a {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: x-large;
}

body .navi-menu nav .navbar-collapse ul li a:hover {
  color: #84e99a;
}

body .navi-menu nav #nav-logo {
  width: 120px;
}

body header .container-fluid {
  background-image: url("../SVG/Asset 3.svg");
}

body header .container-fluid::before {
  content: "";
  display: block;
  height: 280px;
}

body header .container-fluid #club-name {
  font-family: "Oswald", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#2e9145), to(#99ca3d));
  background: linear-gradient(to right, #2e9145, #99ca3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 4rem;
}

body header .container-fluid .search {
  margin-top: 100px;
}

body header .container-fluid .search .form-inline {
  width: 50%;
}

body header .container-fluid .search .button {
  background-color: #3bb54a;
  border-style: solid;
  border-radius: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: medium;
  width: 20%;
  height: 50px;
}

body header .container-fluid .search .button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body header .container-fluid .search .form {
  border-radius: 0px 25px 25px 0px;
  border-color: #3bb54a;
  padding-left: 20px;
  width: 80%;
  height: 50px;
}

body header .container-fluid .search .form:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .leader-board .intro-title {
  font-family: "Oswald", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0c6b37), to(#2ab56c));
  background: linear-gradient(to right, #0c6b37, #2ab56c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
  margin: 160px 0px 40px 0px;
}

body .leader-board .chunhiem {
  padding: 40px 80px;
}

body .leader-board .chunhiem .image {
  width: 250px;
}

body .leader-board .chunhiem .info {
  font-family: "Oswald", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0c6b37), to(#2ab56c));
  background: linear-gradient(to right, #0c6b37, #2ab56c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .leader-board .phochunhiem {
  padding: 20px 100px;
}

body .leader-board .phochunhiem .image {
  width: 120px;
}

body .leader-board .phochunhiem .info {
  font-family: "Oswald", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0c6b37), to(#2ab56c));
  background: linear-gradient(to right, #0c6b37, #2ab56c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .giatri {
  margin: 50px 0px;
}

body .giatri .title {
  margin: 40px 0px;
  font-family: "Oswald", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0c6b37), to(#2ab56c));
  background: linear-gradient(to right, #0c6b37, #2ab56c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body .giatri .title h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

body .giatri .content .card-content {
  margin: 20px 10px;
  padding: 10px 10px;
  background-color: #e3f0e7;
  -webkit-box-shadow: 6px 6px 10px #c2efee;
          box-shadow: 6px 6px 10px #c2efee;
}

body .giatri .content .card-content .image {
  width: 200px;
  height: 250px;
}

body .giatri .content .card-content .card-body {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

body .giatri .content .card-content .card-body h4 {
  font-size: 30px;
}

body .giatri .btn-success {
  border-radius: 20px;
}

body footer .content .address {
  font-size: small;
}

body footer .content .invite {
  font-family: "Oswald", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0c6b37), to(#2ab56c));
  background: linear-gradient(to right, #0c6b37, #2ab56c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
}

body footer::after {
  content: "Copyright © 2020 by WAKAME TEAM";
  background-color: #006937;
  display: block;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  body header .container-fluid #club-name {
    font-weight: 700;
    font-size: 3rem;
  }
}

@media (max-width: 715px) {
  body .navi-menu nav .navbar-brand {
    margin-right: 0px;
  }
  body header .container-fluid::before {
    height: 180px;
  }
  body header .container-fluid #club-name {
    margin: 60px 0px;
  }
  body header .container-fluid .search {
    margin-top: 60px;
  }
  body header .container-fluid .search .button {
    font-size: small;
  }
  body .leader-board .intro-title {
    margin: 80px 0px 40px 0px;
  }
  body .leader-board .chunhiem {
    padding: 40px 0px;
  }
  body .leader-board .chunhiem .image {
    width: 200px;
  }
  body .leader-board .phochunhiem {
    padding: 20px 0px;
  }
  body .giatri .title {
    margin: 10px 0px;
  }
  body .giatri .title h5 {
    text-align: center;
  }
  body .giatri .content .card-content {
    margin: 20px 5px;
    padding: 0px 0px;
  }
  body .giatri .content .card-content .image {
    width: 200px;
    height: 250px;
  }
  body .giatri .content .card-content .card-body {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    padding: 15px;
  }
  body .giatri .content .card-content .card-body h4 {
    font-size: 25px;
  }
}

@media (max-width: 625px) {
  body .navi-menu nav {
    height: auto;
    background-image: none;
    background-color: #dde6e2d2;
  }
  body .navi-menu nav .navbar-collapse ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .navi-menu nav .navbar-collapse ul li {
    padding: 10px;
  }
  body .navi-menu nav .navbar-collapse ul li a {
    color: #2e2525;
    font-size: large;
  }
  body .navi-menu nav .navbar-collapse ul li a:hover {
    color: #84e99a;
  }
  body .navi-menu nav #nav-logo {
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
  }
  body header .container-fluid::before {
    content: "";
    display: block;
    height: 150px;
  }
  body header .container-fluid #club-name {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0px;
  }
  body header .container-fluid #club-intro {
    font-size: 16px;
    padding: 0px 0px;
  }
  body header .container-fluid .search {
    margin-top: 30px;
  }
  body header .container-fluid .search .form-inline {
    width: 80%;
  }
  body header .container-fluid .search .button {
    height: 40px;
    font-size: small;
  }
  body header .container-fluid .search .form {
    height: 40px;
  }
  body .giatri {
    margin: 10px 0px;
  }
  body .giatri .title {
    margin: 0px 0px;
  }
  body .giatri .title h5 {
    font-size: 1.2rem;
  }
  body .giatri .content .card-content {
    margin: 0px 5px 10px 5px;
    padding: 0px 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .giatri .content .card-content .image {
    width: 90%;
  }
  body .giatri .content .card-content .card-body {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    padding: 0px 10px 10px;
    margin-top: 0px;
  }
  body .giatri .content .card-content .card-body h4 {
    font-size: 20px;
  }
  body .giatri .content .card-content .card-body p {
    font-size: 11px;
  }
}

@media (max-width: 575px) {
  body .navi-menu nav {
    height: auto;
    background-image: none;
    background-color: #dde6e2d2;
  }
  body .navi-menu nav .navbar-collapse ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .navi-menu nav .navbar-collapse ul li {
    padding: 10px;
  }
  body .navi-menu nav .navbar-collapse ul li a {
    color: #2e2525;
    font-size: large;
  }
  body .navi-menu nav .navbar-collapse ul li a:hover {
    color: #84e99a;
  }
  body .navi-menu nav #nav-logo {
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
  }
  body header .container-fluid::before {
    content: "";
    display: block;
    height: 150px;
  }
  body header .container-fluid #club-name {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0px;
  }
  body header .container-fluid #club-intro {
    font-size: 16px;
    padding: 0px 30px;
  }
  body header .container-fluid .search {
    margin-top: 30px;
  }
  body header .container-fluid .search .form-inline {
    width: 80%;
  }
  body header .container-fluid .search .button {
    height: 40px;
    font-size: small;
  }
  body header .container-fluid .search .form {
    height: 40px;
  }
  body .leader-board .intro-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 80px 0px 40px 0px;
  }
  body .leader-board .chunhiem {
    padding: 40px 80px;
  }
  body .leader-board .chunhiem .image {
    width: 200px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
  }
  body .leader-board .chunhiem .info h2 {
    font-size: x-large;
  }
  body .leader-board .chunhiem .info h5 {
    font-size: small;
  }
  body .leader-board .chunhiem .info p {
    font-size: smaller;
  }
  body .leader-board .phochunhiem {
    padding: 20px 0px;
  }
  body .leader-board .phochunhiem .image {
    width: 100px;
    display: block;
    margin: auto;
    padding-bottom: 5px;
  }
  body .leader-board .phochunhiem .info h4 {
    font-size: small;
    margin-bottom: 0;
  }
  body .leader-board .phochunhiem .info h6 {
    font-size: x-small;
  }
  body .giatri {
    margin: 20px 0px;
  }
  body .giatri .title {
    margin: 0px 0px;
  }
  body .giatri .title h5 {
    font-size: 1.2rem;
  }
  body .giatri .content .card-content {
    margin: 20px 20px 0px 20px;
    padding: 20px 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body .giatri .content .card-content .card-body {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }
  body .giatri .content .card-content .card-body h4 {
    font-size: 30px;
  }
  body .giatri .content .card-content .card-body p {
    font-size: 13px;
  }
  body .giatri .btn-success {
    margin-top: 20px;
    border-radius: 20px;
  }
}

@media (max-width: 320px) {
  body .navi-menu nav .navbar-collapse ul li a {
    font-size: small;
  }
  body .navi-menu nav .navbar-collapse ul li a:hover {
    color: #84e99a;
  }
  body .leader-board .intro-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 40px 0px 10px 0px;
  }
  body .leader-board .chunhiem {
    padding: 0px 0px;
  }
  body .leader-board .chunhiem .image {
    width: 150px;
  }
  body .giatri {
    margin: 20px 0px;
  }
  body .giatri .title h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=home.css.map */