* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin text-gra($mau1, $mau2) {
    font-family: "Oswald", sans-serif;
    background: linear-gradient(to right, $mau1, $mau2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    background-color: #f1faee;
    .navi-menu {
        nav {
            height: 200px;
            background-image: url("../images/Asset\ 1.png");
            background-size: auto 200px;
            background-repeat: no-repeat;
            &.navbar {
                align-items: unset;
            }
            .navbar-collapse {
                align-items: unset;
                margin-top: 10px;
                margin-left: 10px;
                ul {
                    li {
                        a {
                            color: rgb(255, 255, 255);
                            font-family: "Oswald", sans-serif;
                            font-weight: 400;
                            font-size: x-large;
                            &:hover {
                                color: rgb(132, 233, 154);
                            }
                        }
                    }
                }
            }
            #nav-logo {
                width: 120px;
            }
        }
    }
    header {
        .container-fluid {
            background-image: url("../SVG/Asset\ 3.svg");
            &::before {
                content: "";
                display: block;
                height: 180px;
            }
            .row {
                justify-content: center;
            }
            .title{
                display: flex;
                align-items: center;
                h1{
                    @include text-gra(#2e9145, #99ca3d);
                    font-size: 80px;
                    text-align: right;
                    width: 500px;
                    position: relative;
                    &::after{
                        content: '';
                        background-image: url('../SVG/Asset\ 13.svg');
                        background-repeat: no-repeat;
                        display: block;
                        width: 40px;
                        height: 150px;
                        position: absolute;
                        top: 25px;
                        right: -50px;
                    }
                }
                h2 {
                    @include text-gra(#2e9145, #99ca3d);
                    font-size: 80px;
                    margin-left: 60px;
                    text-align: center;
                }
            }
        }
        .container{
            .row{
                .card{
                    img{
                        height: 300px;
                    }
                    .card-body{
                        .card-title{
                            a{
                                display: block;
                                height: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:771px){
    body{
        header {
            .container-fluid {
                &::before {
                    content: "";
                    display: block;
                    height: 180px;
                }
                .row {
                    display: block;
                }
                .title{
                    h1{
                        text-align: center;
                        margin: auto;
                        &::after{
                            display: block;
                            width: 40px;
                            height: 150px;
                            margin: auto;
                            position: relative;
                            transform: rotate(90deg) translate(-100%,30%);
                        }
                    }
                    h2 {
                        @include text-gra(#2e9145, #99ca3d);
                        font-size: 80px;
                        width: 300px;
                        margin: -50px auto 20px;
                    }
                }
                
            }
            
        }
    }
}
@media(max-width:660px){
    body{
        .navi-menu {
            nav {
                height: auto;
                background-image: none;
                background-color: #dde6e2d2;
                .navbar-collapse {
                    ul {
                        flex-direction: row;
                        li {
                            padding: 10px;
                            a {
                                color: rgb(46, 37, 37);
                                font-size: large;
                                &:hover {
                                    color: rgb(132, 233, 154);
                                }
                            }
                        }
                    }
                }
                #nav-logo {
                    width: 100px;
                    position: fixed;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}
