{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css_file %}
    {% static 'css/news_edit.css' %}
{% endblock css_file %}
{% block contents %}
<header>
    <div class="container-fluid">
        <div class="row title">
            <h1>CLB Tiếng Nhật WAKAME</h1>
            <h2>Tin tức</h2>
        </div>
    </div>
    <div class="container">
        <h1>edit</h1>
        <div class="row">
            <form action="" method="post">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">save</button>
            </form>
        </div>
    </div>
</header>
{% endblock contents %}