{% extends 'base.html' %}
{% load static %}
{% block css_file %}
{% static 'css/news_detail.css' %}
{% endblock css_file %}
{% block contents %}
<header>
    <div class="container-fluid">
        <div class="row title">
            <h1>CLB Tiếng Nhật WAKAME</h1>
            <h2>Tin tức</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>{{ post.title }}</h1>
            <p>{{ post.body|linebreaks }}</p>
        </div>
        {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <a class="btn btn-success btn-block" href="{% url 'news_edit' post.pk %}" role="button">EDIT POST</a>
                <a class="btn btn-success btn-block" href="{% url 'news_delete' post.pk %}" role="button">DELETE
                    POST</a>
            </div>
        </div>
        {% else %}
        <p>khong</p>
        {% endif %}

    </div>
</header>
{% endblock contents %}