{% extends 'base.html' %}
{% load static %}
{% block css_file %}
    {% static 'css/news.css' %}
{% endblock css_file %}
{% block contents %}
<header>
    <div class="container-fluid">
        <div class="row title">
            <h1>CLB Tiếng Nhật WAKAME</h1>
            <h2>Tin tức</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for post in object_list %}
                <div class="col-sm-6 col-md-4 my-4">
                    <div class="card card-content">
                        <img class="card-img-top m-auto mt-lg-5 mb-md-2 image" src="{{ post.imglink }}" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title"><a href="{% url 'news_detail' post.pk %}">{{ post.title }}</a></h4>
                            <p class="card-text text-justify">{{ post.recap }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <p>{{ post.author }} - {{ post.date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</header>
{% endblock contents %}